/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2019, 10:28:00 PM
    Author     : ADMIN
*/

/* colo */
.xred{
    background-color: red;
}
.xblue{
    background-color: blue;
}
.xgreen{
    background-color: green;
}
.xlgreen{
    background-color: lightgreen;
}
.container{
    
    
}
.container-fluid{
    
}